<footer>
  <div class="container top-footer">
    <div class="col-xs-12 col-sm-4 left-footer">
      <span><img class="img" src="https://www.cleartrip.com/images/ui/rewards_logo.png" alt=""></span>
    </div>
    <div class="col-xs-12 col-sm-8 right-footer">
      <h4>
        <span>Keep booking to get free travel and stay.</span>
        <span>No forms. No registrations. No sweat. <a href="#">Know more</a></span>
      </h4>
    </div>
  </div>
  <div class="globalFooter">
    <div class="container">
      <nav>
        <ul class="inline clearFix">
          <li><a href="http://www.cleartrip.com/about" title="About Us" rel="nofollow" class="forceHttp">About Us</a></li>
          <li><a rel="nofollow" class="forceHttp recent" title="Careers" href="http://www.cleartrip.com/jobs">Careers</a></li>
          <li><a rel="nofollow" href="http://www.cleartrip.com/faq" title="FAQs" class="forceHttp">FAQs</a></li>
          <li><a rel="nofollow" href="http://www.cleartrip.com/support" title="Support" class="forceHttp">Support</a></li>
          <li><a href="http://blog.cleartrip.com" title="Blog">Blog</a></li>
          <li><a href="http://www.cleartripforbusiness.com/" title="Cleartrip for Business" rel="nofollow" class="forceHttp">Cleartrip for Business</a></li>
          <li><a rel="nofollow" href="http://www.cleartrip.com/mobile" class="forceHttp">Mobile</a></li>
          <li><a rel="nofollow" href="http://www.cleartrip.com/giftcards" class="forceHttp">Gift Cards</a></li>
          <li><a rel="nofollow" class="forceHttp" title="Collections" href="http://www.cleartrip.com/collections">Collections</a></li>
          <li><a rel="nofollow" class="forceHttp" title="Hotels directory" href="http://www.cleartrip.com/hotels/india">Hotel directory</a></li>
          <li><a rel="nofollow" class="forceHttp" title="Hotels directory" href="http://www.cleartrip.com/referral/">Referral Program</a></li>
        </ul>
      </nav>
      <nav>
        <ul class="secondaryLinks clearFix">
          <li>© 2006–2017 Cleartrip Pvt. Ltd.</li>
          <li><a rel="nofollow" href="http://www.cleartrip.com/privacy" title="Privacy" class="forceHttp">Privacy</a></li>
          <li><a rel="nofollow" href="http://www.cleartrip.com/security" title="Security" class="forceHttp">Security</a></li>
          <li><a rel="nofollow" href="http://www.cleartrip.com/terms" title="Terms of Use" class="forceHttp">Terms of Use</a></li>
        </ul>
      </nav>
      <!-- //  -->
      <div class="bottom-footer">
        <ul class="secondaryLinks weaker">
          <li><strong>Other tools:</strong></li>
          <li class="first"><a href="http://www.cleartrip.com/" title="Flight Booking" class="forceHttp">Cheap air tickets</a></li>
          <li><a href="http://www.cleartrip.com/flights" title="Book cheap flights for travel within India and abroad" class="forceHttp">Flight tickets</a></li>
          <li><a href="http://www.cleartrip.com/status/" title="Flight Status India" class="forceHttp">Flight Status</a></li>
          <li><a title="India Hotels" href="http://www.cleartrip.com/hotels/india/" class="forceHttp">India Hotels</a></li>
          <li><a title="IRCTC Trains Reservation" href="http://www.cleartrip.com/trains" class="forceHttp">IRCTC Railway Reservation</a></li>
          <li><a title="Indian Railways PNR Status" href="http://www.cleartrip.com/trains/pnr" class="forceHttp">Indian Railways PNR Status</a></li>
          <li><a href="http://www.cleartrip.com/flight-tickets/cheap-flight-air-tickets-domestic.html" title="Domestic Air Tickets" class="forceHttp">Cheap Domestic Air Tickets</a></li>
          <li><a title="Domestic Flight Schedules" href="http://www.cleartrip.com/flight-schedule/flight-schedules-domestic.html" class="forceHttp">Domestic Flights </a></li>
          <li><a title="Domestic Airlines in India" href="http://www.cleartrip.com/flight-booking/domestic-airlines-in-india.html" class="forceHttp">Domestic Airlines in India</a></li>
          <li><a href="http://www.cleartrip.com/flight-tickets/cheap-flight-air-tickets-international.html" title="International Air Tickets" class="forceHttp">International Air Tickets</a></li>
          <li class="first"><a title="International Flight Schedules" href="http://www.cleartrip.com/flight-schedule/flight-schedules-international.html" class="forceHttp">International Flights </a></li>
          <li><a title="International Airlines" href="http://www.cleartrip.com/flight-booking/international-airlines.html" class="forceHttp">International Airlines</a></li>
          <li><a href="http://www.cleartrip.com/smallworld" title="Travel guides for destinations and places around the world" class="forceHttp">Travel guide</a></li>
          <li><a class="forceHttp" title="Flight plus Hotel Packages" href="http://www.cleartrip.com/tourism/packages/">Holiday Packages</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
