<ul class="left-nav">
  <li ng-class="{'active': state2}"><a href="#!/"><span class="sprite hotels"></span> Hotels</a></li>
  <li ng-class="{'active': state3}"><a href="#!/packages"><span class="sprite packages"></span> Flight + Hotel</a></li>
</ul>

<!-- <ul class="left-nav">
  <li ng-class="{'active': state1}"><a href="#!/"><span class="sprite flights"></span> Flight</a></li>
  <li ng-class="{'active': state2}"><a href="#!/hotel"><span class="sprite hotels"></span> Hotels</a></li>
  <li><a href="#"><span class="sprite activities"></span> Local</a></li>
  <li ng-class="{'active': state3}"><a href="#!/packages"><span class="sprite packages"></span> Flight + Hotel</a></li>
  <li><a href="#"><span class="sprite trains"></span> Trains</a></li>
  <li><a href="#"><span class="sprite flightDeals"></span> Flight Deals</a></li>
  <li><a href="#"><span class="sprite mobile"></span> Mobile</a></li>
  <li><a href="#"><span class="sprite hideB2B"></span> Manage trips</a></li>
</ul> -->
