<div ng-include src="'views/partials/header.html'"></div>
<div class="container-fluid nopadding DetailsPage" main-wrapper>
  <div class="container nopadding">
    <div class="row">
      <div class="col-xs-12 addvance-search" ng-include src="'views/partials/advenceSearch.html'"></div>
      <!-- // -->
      <div class="col-xs-12 nopadding contantWrapper">
        <div class="col-xs-12 col-sm-9 left-wrapper" ng-include src="'views/partials/leftContant.html'"></div>
        <div class="col-xs-12 col-sm-3 right-wrapper" ng-include src="'views/partials/rightContant.html'"></div>
      </div>
      <!-- // -->
    </div>
  </div>
</div>
<div ng-include src="'views/partials/footer.html'"></div>
