<div ng-include src="'views/partials/header.html'"></div>
<div class="container-fluid modify-search">
  <div class="container">
    <button type="button" class="modify-btn waves-effect">Modify search</button>
  </div>
</div>
<div class="container-fluid nopadding" main-wrapper>
  <div class="container nopadding">
    <div class="row">
      <div class="col-xs-12 col-sm-3 left-wrapper">
        <ul class="filter hide">
          <li class="headding">
            <span><b>590</b> of <b>590</b> hotels</span>
            <input type="text" placeholder="Filter by hotel name">
          </li>
          <li>
            <span>Price</span>
          </li>
        </ul>

        <aside id="sidebar" class="sidebar-white">
          <div class="widget widget-categories">
            <div class="widget-top">
              <h3 class="widget-title">Property Status</h3></div>
            <div class="widget-body">
              <ul class="children">
                <li><a href="#">For Rent</a><span class="cat-count">(22)</span></li>
                <li><a href="#">For Sale</a><span class="cat-count">(30)</span></li>
              </ul>
            </div>
          </div>
          <div class="widget widget-categories">
            <div class="widget-top">
              <h3 class="widget-title">Property Status</h3></div>
            <div class="widget-body">
              <ul class="children">
                <li><a href="#">For Rent</a><span class="cat-count">(22)</span></li>
                <li><a href="#">For Sale</a><span class="cat-count">(30)</span></li>
              </ul>
            </div>
          </div>
          <div class="widget widget-categories">
            <div class="widget-top">
              <h3 class="widget-title">Property Type</h3></div>
            <div class="widget-body">
              <ul class="children">
                <li><a href="#">Apartment</a><span class="cat-count">(29)</span></li>
                <li><a href="#">Loft</a><span class="cat-count">(1)</span></li>
                <li><a href="#">Multi Family Home</a><span class="cat-count">(1)</span></li>
                <li><a href="#">Single Family Home</a><span class="cat-count">(11)</span></li>
                <li><a href="#">Villa</a><span class="cat-count">(10)</span></li>
              </ul>
            </div>
          </div>
        </aside>

      </div>
      <div class="col-xs-12 col-sm-9 right-wrapper">
        <div class="property-listing list-view">
          <div class="row">

            <div class="item-wrap infobox_trigger item-modern-apartment-on-the-bay">
              <div class="property-item table-list">
                <div class="table-cell">
                  <div class="figure-block">
                    <figure class="item-thumb">
                      <span class="label-featured label label-success">Featured</span>
                      <div class="label-wrap label-right hide-on-list">
                        <span class="label-status label-status-8 label label-default">For Rent</span>
                      </div>
                      <div class="price hide-on-list"><span class="item-price">&#8377; 1,900.00/mo</span></div>
                      <a class="hover-effect" href="#">
                        <img width="385" height="258" src="http://houzez01.favethemes.com/wp-content/uploads/2016/03/los-angeles-06-385x258.jpg" class="attachment-houzez-property-thumb-image size-houzez-property-thumb-image wp-post-image" alt="" srcset="http://houzez01.favethemes.com/wp-content/uploads/2016/03/los-angeles-06-385x258.jpg 385w, http://houzez01.favethemes.com/wp-content/uploads/2016/03/los-angeles-06-300x202.jpg 300w, http://houzez01.favethemes.com/wp-content/uploads/2016/03/los-angeles-06-768x516.jpg 768w, http://houzez01.favethemes.com/wp-content/uploads/2016/03/los-angeles-06-1024x688.jpg 1024w, http://houzez01.favethemes.com/wp-content/uploads/2016/03/los-angeles-06-150x101.jpg 150w, http://houzez01.favethemes.com/wp-content/uploads/2016/03/los-angeles-06-350x235.jpg 350w, http://houzez01.favethemes.com/wp-content/uploads/2016/03/los-angeles-06.jpg 1170w"
                          sizes="(max-width: 385px) 100vw, 385px"> </a>
                        <ul class="actions">
                          <li>
                            <span class="add_fav" data-placement="top" data-toggle="tooltip" data-original-title="Favorite" data-propid="416"><i class="fa fa-heart-o"></i></span>
                          </li>
                          <li>
                            <span data-toggle="tooltip" data-placement="top" title="" data-original-title="(7) Photos">
                              <i class="fa fa-camera"></i>
                            </span>
                          </li>
                          <li>
                            <span id="compare-link-416" class="compare-property" data-propid="416" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                              <i class="fa fa-plus"></i>
                            </span>
                          </li>
                        </ul>
                    </figure>
                  </div>
                </div>
                <div class="item-body table-cell">
                  <div class="body-left table-cell">
                    <div class="info-row">
                      <h2 class="property-title">
                        <a href="#">The Orchid Mumbai</a>
                      </h2>
                      <address class="property-address">Andheri East-International Airport</address>
                    </div>
                    <div class="info-row amenities hide-on-grid">
                      <p>
                        <span>Beds: 2</span>
                        <span>Baths: 2</span>
                        <span>Sq Ft: 1900</span>
                      </p>
                      <p>Apartment</p>
                    </div>
                    <ul class="actions">
                      <li>
                        <span class="add_fav" data-placement="top" data-toggle="tooltip" data-original-title="Favorite" data-propid="416"><i class="fa fa-heart-o"></i></span>
                      </li>
                      <li>
                        <span data-toggle="tooltip" data-placement="top" title="" data-original-title="(7) Photos">
                          <i class="fa fa-camera"></i>
                        </span>
                      </li>
                      <li>
                        <span id="compare-link-416" class="compare-property" data-propid="416" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                          <i class="fa fa-plus"></i>
                        </span>
                      </li>
                      <li>
                        <span class="add_fav" data-placement="top" data-toggle="tooltip" data-original-title="Favorite" data-propid="416"><i class="fa fa-heart-o"></i></span>
                      </li>
                      <li>
                        <span data-toggle="tooltip" data-placement="top" title="" data-original-title="(7) Photos">
                          <i class="fa fa-camera"></i>
                        </span>
                      </li>
                      <li>
                        <span id="compare-link-416" class="compare-property" data-propid="416" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                          <i class="fa fa-plus"></i>
                        </span>
                      </li>
                    </ul>
                    <div class="info-row date hide-on-grid">
                      <p class="prop-user-agent"><i class="fa fa-user"></i> <a href="#">Eco House Real Estate</a> </p>
                      <p><i class="fa fa-calendar"></i>1 year ago</p>
                    </div>
                  </div>
                  <div class="body-right table-cell hidden-gird-cell">
                    <div class="info-row price"><span class="item-price">&#8377; 1,900.00</span></div>
                    <div class="info-row phone text-right">
                      <a href="#" class="btn btn-primary tButton waves-effect">Select room <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                  </div>
                  <div class="table-list full-width hide-on-list">
                    <div class="cell">
                      <div class="info-row amenities">
                        <p><span>Beds: 2</span><span>Baths: 2</span><span>Sq Ft: 1900</span></p>
                        <p>Apartment</p>
                      </div>
                    </div>
                    <div class="cell">
                      <div class="phone">
                        <a href="#" class="btn btn-primary waves-effect">Select room <i class="fa fa-angle-right fa-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item-foot date hide-on-list">
                <div class="item-foot-left">
                  <p class="prop-user-agent"><i class="fa fa-user"></i> <a href="#">Andheri East-International Airport</a> </p>
                </div>
                <div class="item-foot-right">
                  <p class="prop-date"><i class="fa fa-calendar"></i>1 year ago</p>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include src="'views/partials/footer.html'"></div>
