<div ng-include src="'views/partials/header.html'"></div>
<div class="container-fluid modify-search">
  <div class="container">
    <button type="button" class="modify-btn waves-effect">Modify search</button>
  </div>
</div>
<div class="container-fluid nopadding" main-wrapper>
  <div class="container nopadding">
    <div class="col-xs-12 col-sm-3 left-wrapper">
      <ul class="filter">
        <li class="headding">
          <span><b>590</b> of <b>590</b> hotels</span>
          <input type="text" placeholder="Filter by hotel name">
        </li>
        <li>
          <span>Price</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-9 right-wrapper">right</div>
  </div>
</div>
<div ng-include src="'views/partials/footer.html'"></div>
